<div class="background-container">
  <div class="container col-lg-12">
    <div class="row col-lg-8 d-flex m-auto registro-container">
      <div class="col-lg-6 imagen-registro">
        <div class="col-lg-9">
          <h1 class="col-lg-10 titulo-imagen">
            <strong>¿Listo para empezar tu aventura?</strong>
          </h1>
          <p><img src="../../../assets/paginaRegistro/logoAplicacion.jpg"></p>
        </div>
      </div>
      <div class="col-lg-6 formulario-registro">
        <i class="bi bi-arrow-left d-flex justify-content-end mt-4 me-lg-2"></i>
        <h1 class="col-lg-9 mt-lg-2 titulo-registrar"><strong>Registrar</strong></h1>
        <p
          class="col-lg-9 texto"
        >
          ¡Bienvenido! Por favor, regístrese
        </p>
        <form [formGroup]="usuarios" class="col-lg-9 m-auto">
          <mat-form-field class="col-lg-12">
            <mat-label>Usuario</mat-label>
            <input
              matInput
              placeholder="Introduzca nombre de usuario"
              formControlName="usuario"
            />
            <mat-hint></mat-hint>
            @if (this.usuarios.get('usuario')?.errors?.['required']){
            <mat-error>Usuario <strong>requerido</strong></mat-error>
            }
          </mat-form-field>

          <mat-form-field class="col-lg-12">
            <mat-label>Contraseña</mat-label>
            <input
              type="password"
              matInput
              placeholder="Introduzca contraseña"
              formControlName="contrasena"
            />
            <mat-hint></mat-hint>
            @if(this.usuarios.get('contrasena')?.errors?.['minlength'] &&
            !this.usuarios.get('contrasena')?.errors?.['required']){
            <mat-error>Longitud mínima 6 caracteres</mat-error>
            } @if(this.usuarios.get('contrasena')?.errors?.['maxlength']){
            <mat-error>Longitud máxima 12 caracteres</mat-error>
            } @if(this.usuarios.get('contrasena')?.errors?.['required']){
            <mat-error>Contraseña <strong>requerida</strong></mat-error>
            }
          </mat-form-field>

          <mat-form-field class="col-lg-12">
            <mat-label>DNI</mat-label>
            <input
              matInput
              placeholder="Introduzca DNI"
              formControlName="dni"
            />
            <mat-hint></mat-hint>
            @if(this.usuarios.get('dni')?.errors?.['pattern']){
            <mat-error
              >Tiene que cumplir con el formato de
              <strong>DNI</strong></mat-error
            >
            } @if(this.usuarios.get('dni')?.errors?.['required']){
            <mat-error>DNI es <strong>requerido</strong></mat-error>
            }
          </mat-form-field>

          <mat-form-field class="col-lg-12">
            <mat-label>Teléfono</mat-label>
            <input
              type="tel"
              matInput
              placeholder="Introduzca teléfono"
              formControlName="telefono"
            />
            <mat-hint></mat-hint>
            @if(this.usuarios.get('telefono')?.errors?.['pattern']){
            <mat-error>Tiene que tener entre 0 y 9 caracteres</mat-error>
            } @if(this.usuarios.get('telefono')?.errors?.['required']){
            <mat-error>Teléfono es <strong>requerido</strong></mat-error>
            }
          </mat-form-field>

          <mat-form-field class="col-lg-12">
            <mat-label>Correo electrónico</mat-label>
            <input
              type="email"
              matInput
              placeholder="Introduzca correo electrónico"
              formControlName="correoElectronico"
            />
            <mat-hint></mat-hint>
            @if(this.usuarios.get('correoElectronico')?.errors?.['email']){
            <mat-error>Por favor, introduzca un email válido</mat-error>
            } @if(this.usuarios.get('correoElectronico')?.errors?.['required']){
            <mat-error>Email es <strong>requerido</strong></mat-error>
            }
          </mat-form-field>
          
        </form>

        <div class="col-lg-12 perfil-registro">
          <p class="col-lg-12 texto">
            ¿Quieres poner tu casa en alquiler?
          </p>

          <select
            class="col-lg-5 form-select select"
            aria-label="Seleccionar tipo de perfil"
          >
            <option selected>No</option>
            <option value="1">Si</option>
          </select>
        </div>

        <div class="col-lg-12 form-check aceptar-terminos">
          <input
            class="col-lg-1 form-check-input checkbox"
            type="checkbox"
            value=""
            id="flexCheckDefault"
          />
          <label class="col-lg-9 form-check-label" for="flexCheckDefault">
            Acepto
            <a href="#">términos de politica y privacidad</a
            >
          </label>
        </div>

        <button class="col-lg-9 boton-registrar">Registrar</button>
        <app-boton-registro-google></app-boton-registro-google>
        <p class="col-lg-12 mt-4 mb-lg-4 texto-inicioSesion">¿Ya tienes cuenta? <a href="#">Iniciar Sesión</a></p>
      </div>
    </div>
  </div>
</div>
