<div class="container contenedor-principal">
    <div class="row m-auto mt-5">
        <div class="col-12 ps-3">
            <h1 class="fw-bold">{{casasRurales[0].titulo}}</h1>
        </div>

        <div class="row m-auto">
            <div class="img-principal col-12 col-md-6 col-lg-4">
                Imagen 1
            </div>
            <div class="row d-none d-md-flex col-6 col-lg-4 m-auto mt-0 d-flex flex-column justify-content-between"
                style="height: 400px;">
                <div class="img">
                    Imagen 2
                </div>
                <div class="img">
                    Imagen 3
                </div>
            </div>
            <div class="row d-none d-lg-flex col-4 m-auto mt-0 flex-column justify-content-between"
                style="height: 400px;">
                <div class="img">
                    Imagen 4
                </div>
                <div class="img">
                    Imagen 5
                </div>
            </div>
        </div>

        <div class="row d-flex flex-column flex-md-row m-auto">
            <div class="row col-12 col-md-6 mt-3 order-2 order-md-1">
                <div class="row b-bottom">
                    <h2 class="fw-bold px-0">Instalaciones</h2>
                    <div class="row">
                        @for (instalacion of instalaciones; track instalacion.length) {
                        <div class="col-6 d-inline-flex flex-column-2 mb-3">
                            <mat-icon
                                class="d-inline-flex justify-content-center me-2 icon-pool">{{instalacion.icono}}</mat-icon>
                            <p class="d-inline-flex align-items-center">{{instalacion.nombre}}</p>
                        </div>
                        }
                    </div>
                </div>

                <div class="row mt-5 b-bottom">
                    <div class="row">
                        <h2 class="fw-bold px-0">Comodidades</h2>
                        <div class="col-12">
                            @for (instalacion of instalaciones; track instalacion.length) {
                            <div class="col-6 d-inline-flex flex-column-2 mb-3">
                                <mat-icon
                                    class="d-inline-flex justify-content-center me-2 icon-pool">{{instalacion.icono}}</mat-icon>
                                <p class="d-inline-flex align-items-center">{{instalacion.nombre}}</p>
                            </div>
                            }
                        </div>
                    </div>
                </div>

            </div>

            <!-- Formulario de Reservar -->
            <form class="row col-12 col-md-6 ms-1 ms-md-4 mt-4 order-1 order-md-2">
                <div class="card p-4 row">
                    <h2 class="fw-bold">124€ noche</h2>
                    <div class="row">
                        <mat-form-field class="col-6">
                            <mat-label>Llegada</mat-label>
                            <input matInput type="date" [matDatepicker]="picker1" formControlName="llegada">
                            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="col-6">
                            <mat-label>Salida</mat-label>
                            <input matInput type="date" [matDatepicker]="picker1" formControlName="salida">
                            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class="row">
                        <mat-form-field class="col-12">
                            <mat-label>Nº de huéspedes</mat-label>
                            <input type="number" matInput placeholder="Introduzca número de huéspedes"
                                formControlName="huespedes" />
                        </mat-form-field>
                    </div>

                    <button class="col-12 boton-personalizado-a"> RESERVAR</button>
                    <p class="text-center mt-2 texto-gray">No se te cobrará nada aún</p>
                    <div class="d-flex justify-content-between">
                        <p class="texto-gray">124€ x 5 noches</p>
                        <p class="texto-gray">620€</p>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <strong>Total</strong>
                        <strong>620€</strong>
                    </div>
                </div>
            </form>
        </div>

        <!-- Ubicación -->
        <div class="row b-bottom mx-auto pt-2 pb-2">
            <h2 class="fw-bold px-0">Ubicación</h2>
            <div class="d-flex align-items-center px-0">
                <i class="bi bi-geo-alt px-0 me-2"></i>
                <p class="pt-1">Sevilla, Andalucía, España</p>
            </div>
        </div>

        <div class="row d-flex mt-4 justify-content-center mt-2">
            <div class="col-12 valoraciones d-flex justify-content-center align-items-center">
                <img class="paz" src="../../../assets/paginaRegistro/paz1.png">
                <h2 class="fw-bold mt-4 mx-2">Valoraciones</h2>
                <img class="d-inline-flex paz" src="../../../assets/paginaRegistro/paz.png">
                <div class="d-inline-flex mx-2 flex-column align-items-center mt-4">
                    <strong>4,90</strong>
                    <div>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill estrella"></i>
                    </div>

                </div>

                <div class="contenedor-evaluaciones d-flex h-75 align-items-center justify-content-center ps-2">
                    <strong>10</strong>
                    <a class="evaluaciones" href="#">evaluaciones</a>
                </div>

            </div>
            <div class="col-12 mt-5 contenedor-resenas-comentarios">
                @if (ver) {
                @for (comentario of comentarios ; track comentario.length) {
                <div class="col-12 col-md-5 d-inline-flex flex-column">
                    <div class="cabecera-comentarios">
                        <img class="d-inline-flex perfil-usuario"
                            src="../../../assets/paginaRegistro/perfil-de-usuario.jpg">
                        <div class="d-inline-flex flex-column align-items-center ms-2">
                            <strong>Nombre</strong>
                            <p class="texto-gray">{{comentario.pais}}</p>
                        </div>
                    </div>


                    <div>
                        <div class="d-inline-flex">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill me-2 estrella-comentarios"></i>
                        </div>
                        <p class="d-inline-flex me-2" style="font-size: 40px; color: gray;">.</p>
                        <p class="d-inline-flex texto-gray">Hace 2 semanas</p>
                    </div>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt sit maxime ipsam, nesciunt at
                        harum quas sed magni expedita quam, voluptatum eius aut officiis eum reiciendis animi
                        suscipit earum provident.</p>


                </div>
                }

                }@else {
                @for (comentario of primerosComentarios; track comentario.length) {
                <div class="col-12 col-md-5 d-inline-flex flex-column">
                    <div class="cabecera-comentarios">
                        <img class="d-inline-flex perfil-usuario"
                            src="../../../assets/paginaRegistro/perfil-de-usuario.jpg">
                        <div class="d-inline-flex flex-column align-items-center ms-2">
                            <strong>Nombre</strong>
                            <p class="texto-gray">{{comentario.pais}}</p>
                        </div>
                    </div>


                    <div>
                        <div class="d-inline-flex">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill me-2 estrella-comentarios"></i>
                        </div>
                        <p class="d-inline-flex me-2" style="font-size: 40px; color: gray;">.</p>
                        <p class="d-inline-flex texto-gray">Hace 2 semanas</p>
                    </div>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt sit maxime ipsam, nesciunt at
                        harum quas sed magni expedita quam, voluptatum eius aut officiis eum reiciendis animi
                        suscipit earum provident.</p>


                </div>
                }

                <a class="d-flex mb-4 ver-mas" (click)="verMas()">Ver más</a>
                }

            </div>
        </div>


    </div>
</div>