<div class="container contenedor-principal">
    <div class="row m-auto mt-4">
        <div class="row titulo pb-2">
            <h1 class="col-7 col-sm-9 fw-bold">Buscador de Comodidades</h1>
            <div class="col-4 col-sm-3 contenedor-anadir">
                <button class="col-12 boton-personalizado-a">AÑADIR</button>
            </div>
        </div>

        <form [formGroup]="comodidadesForm" class="row mt-4">
            <mat-form-field class="col-12 col-sm-5 col-2 me-2">
                <mat-label>Nombre de comodidad</mat-label>
                <input matInput placeholder="Introduzca nombre de comodidad" formControlName="nombre" />
            </mat-form-field>

            <mat-form-field class="col-12 col-sm-5 col-2 me-2">
                <mat-label>Código de comodidad</mat-label>
                <input matInput placeholder="Introduzca código de comodidad" formControlName="codigo" />
            </mat-form-field>

            <mat-form-field class="col-12 col-sm-5 col-2 me-2">
                <mat-label>Código de tipo de comodidad</mat-label>
                <input matInput placeholder="Introduzca código de tipo de comodidad"
                    formControlName="codigoTipoComodidad" />
            </mat-form-field>

            <mat-form-field class="col-10 col-sm-5 col-2 me-2">
                <mat-label>Nombre de tipo de comodidad</mat-label>
                <input matInput placeholder="Introduzca nombre de tipo de comodidad"
                    formControlName="nombreTipoComodidad" />
            </mat-form-field>
            <i class="bi bi-search ms-md-2 mt-3 col-1"></i>
        </form>

        <div class="col-12 mt-5" style="overflow-x: auto;">
            <table class="table table-borderless" style="overflow-x: auto;">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nombre de comodidad</th>
                        <th>Código de comodidad</th>
                        <th>Código de tipo comodidad</th>
                        <th>Nombre de tipo comodidad</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>

                <tbody>
                    @for (comodidad of this.comodidades; track comodidad.id) {
                    <tr>
                        <td><mat-icon class="d-flex justify-content-center icon-pool">{{comodidad.iconoComodidad}}</mat-icon>
                        </td>
                        <td> {{comodidad.txtNombre}}</td>
                        <td>{{comodidad.codigoComodidad}}</td>
                        <td>{{comodidad.idTipoComodidad?.codigoTipoComodidad}}</td>
                        <td>{{comodidad.idTipoComodidad?.txtNombre}}</td>
                        <td (click)="modificarComodidad(comodidad.codigoComodidad)"><i class="bi bi-pencil-fill d-flex justify-content-center"></i></td>
                        <td><i class="bi bi-trash d-flex justify-content-center"></i></td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>

    </div>
</div>