<div class="cabecera">    
        <div class="d-flex justify-content-between align-items-end menu">
            <img src="../../../assets/paginaRegistro/logoAplicacion.jpg" routerLink="">
            <div class="d-flex justify-content-end align-items-end">
                @if(!isGestor() && isLogged()){
                    <a routerLink="convertir-gestor"  class="enlace">¿Quieres poner en alquiler tu casa?</a>
                }
                <app-menu class="menu-perfil"></app-menu>
            </div>

        </div>
    <app-barra-busqueda-inicio></app-barra-busqueda-inicio>
</div>
