<div class="relative">
  <div class="cabecera">
    <div class="d-flex justify-content-between align-items-end menu">
      <img class="logo" src="../../../assets/paginaRegistro/logoAplicacion.jpg" routerLink="/inicio">
      <div class="d-flex justify-content-end align-items-end">
        @if(!isGestor() && isLogged()){
        <a routerLink="convertir-gestor" class="enlace">¿Quieres poner en alquiler tu casa?</a>
        }
        <app-menu class="menu-perfil"></app-menu>
      </div>

    </div>
    <!-- Buscador de la página de inicio -->
    <div class="panel">
      <form [formGroup]="busqueda" class="d-flex justify-content-center">
        <div class="col-8 panel-busqueda mt-2">
          <div class="d-inline-flex align-items-center w-100">
            <div class="d-inline-flex busqueda-destino col-12">
              <label class="busqueda-label mb-1" for="destino"><strong>Provincia</strong></label>
              <input class="busqueda-input" type="text" id="destino" formControlName="destino"
                placeholder="Buscar destinos">
            </div>
            <button class="boton-busqueda  ms-2 align-items-center justify-content-center">
              <i class="bi bi-search" (click)="cambiarPage(0)"></i>
            </button>
          </div>

        </div>
      </form>
    </div>
  </div>

  <!-- Menú de Filtros -->
  <div>
    <div class="contenido-principal">
      @if(menu == false){
      <div class="d-inline-flex pt-lg-2 menu-filter-open" (click)="mostrarMenu()">
        <button class="btn">
          <mat-icon class="d-inline-flex me-lg-2 lines">dehaze</mat-icon>
        </button>
        <a class="d-inline-flex align-items-center pt-2 mb-3 link-body-emphasis text-decoration-none titulo-filtros"
          (click)="mostrarMenu()">
          <span class="fs-5 fw-semibold">Filtros</span>
        </a>
      </div>
      }@else {
      <form [formGroup]="filtros">
        <div id="filtros" class="flex-shrink-0 filtros" style="background-color: white;">
          <button class="btn closes" (click)="mostrarMenu()">
            <mat-icon>clear</mat-icon>
          </button>
          <div class="d-flex justify-content-between border-bottom">
            <a href="/" class="d-inline-flex align-items-center pt-4 mb-3 link-body-emphasis text-decoration-none">
              <span class="fs-5 fw-semibold">Filtros</span>
            </a>
            <button class="d-inline-flex pt-4 resetear" (click)="resetearMenu()">Resetear</button>
          </div>

          <ul class="list-unstyled">
            <li class="mb-1">
              <button
                class="btn btn-toggle d-inline-flex align-items-center justify-content-between rounded border-0 collapsed"
                data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                Precio por noche
              </button>
              <div class="collapse show" id="home-collapse">
                <mat-slider min="0" max="2500" discrete [color]="'primary'" [displayWith]="formatLabel">
                  <input matSliderStartThumb formControlName="precioMin">
                  <input matSliderEndThumb formControlName="precioMax">
                </mat-slider>
              </div>
            </li>
            <li class="border-top my-3"></li>
            <li class="mb-1">
              <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                Fechas de estancia
              </button>
              <div class="collapse" id="dashboard-collapse">
                <div class="fecha-estancia">
                  <mat-form-field class="fecha-llegada">
                    <mat-label>Fecha de llegada</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="fechaLlegada" [matDatepickerFilter]="salidaFilter">
                    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                  <b style="font-size: 35px;" class="mx-4 mx-md-2">-</b>
                  <mat-form-field class="fecha-salida">
                    <mat-label>Fecha de salida</mat-label>
                    <input matInput [matDatepicker]="picker2" formControlName="fechaSalida" [matDatepickerFilter]="salidaFilter">
                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </li>
            <li class="border-top my-3"></li>
            <li class="mb-1">
              <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                Instalaciones
              </button>
              <div class="row collapse pt-2" id="orders-collapse">
                @for (instalacion of instalaciones; track instalacion.id) {
                <div class="col-6 col-md-3">
                  <input type="checkbox" class="checkbox d-inline-flex" (change)="filtroCheckboxComodidadEvent(instalacion, $event)">
                  <mat-icon class="d-inline-flex ms-1 me-1">{{instalacion.iconoComodidad}}</mat-icon>
                  <p class="d-inline-flex">{{instalacion.txtNombre}}</p>
                </div>
                }
                <button class="pt-4 ver-mas" (click)="buscarComodidades(true)">Ver más</button>
              </div>
            </li>
            <li class="border-top my-3"></li>
            <li class="mb-1">
              <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                Comodidades
              </button>
              <div class="row collapse pt-2" id="account-collapse">
                @for (comodidad of comodidades; track comodidad.id) {
                <div class="col-6 col-md-3">
                  <input type="checkbox" class="checkbox d-inline-flex" (change)="filtroCheckboxComodidadEvent(comodidad, $event)">
                  <mat-icon class="d-inline-flex ms-1 me-1">{{comodidad.iconoComodidad}}</mat-icon>
                  <p class="d-inline-flex">{{comodidad.txtNombre}}</p>
                </div>
                }
                <button class="pt-4 ver-mas" (click)="buscarComodidades(false)">Ver más</button>
              </div>
            </li>
            <li class="border-bottom mt-3"></li>
          </ul>
        </div>
      </form>

      }
    </div>

    <div class="container contenedor-principal pb-3">
      <div class="row col-lg-12 m-auto">
        <h1 class="titulo fw-bold mt-3">¡Elige entre miles de opciones de casas rurales!</h1>
        @for (casaRural of casasRurales; track casasRurales.length) {
        <div class="card px-0 m-auto mt-3 pb-3">
          <img class="ms-0 me-0 imagen-casa" src="../../../assets/paginaRegistro/imagenCasaRural.jpg"
            alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title fw-bold">{{ casaRural.txtNombre }}</h2>
            <div class="localizacion d-inline-flex">
              <i class="bi bi-geo-alt-fill d-inline-flex me-1 pt-1"></i>
              <h3 class="d-inline-flex"> {{ casaRural.idUbicacion?.lineaDireccion }},
                {{casaRural.idUbicacion?.codigoPostal}}, {{casaRural.idUbicacion?.provincia}} </h3>
            </div>
            <div class="precio-noche d-flex justify-content-between pt-3">
              <p class="d-inline-flex"><strong>Precio/noche</strong></p>
              <p class="d-inline-flex"><strong>{{casaRural.numPrecioNoche}}€</strong></p>
            </div>

            <p class="mt-4 card-text">{{ casaRural.txtDescripcion }}</p>
            <div class="row mt-1">
              <button class="col-11 ms-2 boton-personalizado-a" routerLink="/detalles-casas"
                [queryParams]="{id: casaRural.id}">DETALLES</button>

            </div>

          </div>
        </div>
        }

        <nav class="d-flex justify-content-center w-100 mt-3">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" aria-label="Previous" (click)="cambiarPage(this.paginaActual - 1)">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            @if(paginaActual <= 1){
              <li class="page-item" (click)="cambiarPage(0)"><a class="page-link">1</a></li>
              <li class="page-item" (click)="cambiarPage(1)"><a class="page-link">2</a></li>
              <li class="page-item" (click)="cambiarPage(2)"><a class="page-link">3</a></li>
            }@else {
              <li class="page-item" (click)="cambiarPage(this.paginaActual - 1)"><a class="page-link">{{paginaActual}}</a></li>
              <li class="page-item" (click)="cambiarPage(this.paginaActual)"><a class="page-link" >{{paginaActual + 1}}</a></li>
              <li class="page-item" (click)="cambiarPage(this.paginaActual + 1)"><a class="page-link" >{{paginaActual + 2}}</a></li>
            }
            <li class="page-item">
              <a class="page-link" aria-label="Next" (click)="cambiarPage(this.paginaActual + 1)">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>