<div class="container contenedor-principal">
    <div class="row">
        <div class="col-12 m-auto">
            <div class="col-12 me-3 mt-4 d-inline-block">
                <a class="casas-alquiler" routerLink="/casas-disponibles/{{usuario?.username}}">
                    <i class="bi bi-house-door me-3"></i>Casas en alquiler
                </a>
            </div>

            <div class="col-12 d-flex justify-content-center align-items-center mt-3">
                @if(usuario?.urlImagenUsuario){
                <img src="{{usuario?.urlImagenUsuario}}" style="border-radius: 50%; width: 150px; height: 150px;">
                }@else {
                <img src="../../../assets/paginaRegistro/perfil-de-usuario.jpg"
                    style="border-radius: 50%; width: 150px; height: 150px;">
                }
            </div>

            <h1 class="col-12 d-flex justify-content-center mt-3 fw-bold">{{usuario?.username}}</h1>

            <div class="col-12">
                <h2 class="col-12 titulo">Nombre:</h2>
                <p class=" col-12 ms-3 fw-bold">{{usuario?.username}}</p>
            </div>

            <div class="col-12">
                <h2 class="col-12 titulo">Descripción:</h2>
                <p class=" col-12 ms-3 fw-bold">{{usuario?.txtDescripcion}}</p>
            </div>

            <div class="col-12">
                <h2 class="col-12 titulo">Teléfono:</h2>
                <p class=" col-12 ms-3 fw-bold">{{usuario?.numTelefono}}</p>
            </div>

            <div class="col-12">
                <h2 class="col-12 titulo">Correo electrónico:</h2>
                <p class=" col-12 ms-3 fw-bold">{{usuario?.txtEmail}}</p>
            </div>
        </div>
    </div>
</div>