<div>
    <div class="container">
        <div class="row cols-lg-12">
            <div class="cols-lg-12 m-auto">
                <div class="col-lg-12 me-3 mt-lg-4 d-inline-block">
                    <a class="col-lg-12 casas-alquiler" href="#"> <i class="bi bi-house-door me-3"></i>Casas en alquiler</a>
                </div> 

                <div class="col-lg-12 d-flex justify-content-center mt-lg-5">
                    <img  src="../../../assets/paginaRegistro/perfil-de-usuario.jpg" style="border-radius: 50%; width: 150px; height: 150px;">
                
                </div>

                <h2 class="col-lg-12 d-flex justify-content-center mt-lg-3"><strong>Usuario</strong></h2>

                <div class="col-lg-12">
                    <h2 class="col-lg-12 titulo-nombre"><strong>Nombre:</strong> </h2>
                    <p class=" col-lg-12 ms-lg-3"><strong>Usuario</strong></p>
                </div>

                <div class="col-lg-12">
                    <h2 class="col-lg-12 titulo-descripcion"><strong>Descripción:</strong> </h2>
                    <p class=" col-lg-12 ms-lg-3"><strong>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut voluptatem 
                        ducimus laborum sint quisquam laudantium, veritatis totam, mollitia incidunt itaque similique aliquam nobis 
                        voluptatibus officia dolorum distinctio neque. Eaque, excepturi.</strong></p>
                </div>

                <div class="col-lg-12">
                    <h2 class="col-lg-12 titulo-telefono"><strong>Teléfono:</strong> </h2>
                    <p class=" col-lg-12 ms-lg-3"><strong>957421236</strong></p>
                </div>

                <div class="col-lg-12">
                    <h2 class="col-lg-12 titulo-correo"><strong>Correo electrónico:</strong> </h2>
                    <p class=" col-lg-12 ms-lg-3"><strong>ejemplo&#64;gmail.com</strong></p>
                </div>
                
            </div>
        </div>



    </div>
</div>

