<div>
    <div class="container">
        <div class="row col-lg-12 m-lg-auto">
            <div class="col-lg-12 mt-lg-5">
                <h1 class="d-inline-flex me-lg-4"><strong>{{casasRurales[0].titulo}}</strong></h1>
                <a class="d-inline-flex editar-usuario"> <i class="bi bi-pencil-fill me-3"></i>Editar</a>
            </div>

            <div class="col-lg-12 imagenes" style="display: grid;">
                <div class="img1">Imagen 1</div>
                <div class="img2">Imagen 2</div>
                <div class="img3">Imagen 3</div>
                <div class="img4">Imagen 4</div>
                <div class="img5">Imagen 5</div>

            </div>

            <div class="col-lg-12 mt-lg-5 precio-noche">
                <h3><strong>Precio</strong></h3>
                <form [formGroup]="anuncio" class="col-lg-12 mb-lg-2">
                    <mat-form-field class="col-lg-5">
                      <mat-label>Precio por noche</mat-label>
                      <input
                        matInput
                        placeholder="Introduzca precio por noche"
                        formControlName="precio"
                      />
                    </mat-form-field>
                </form>
            </div>

            <div class="col-lg-12 mt-lg-5 huespedes">
                <h3><strong>Huéspedes</strong></h3>
                <form [formGroup]="anuncio" class="col-lg-12 mb-lg-2">
                    <mat-form-field class="col-lg-2 me-lg-5">
                      <mat-label>Número mínimo</mat-label>
                      <input
                        matInput
                        placeholder="Introduzca número mínimo de huéspedes"
                        formControlName="minHuespedes"
                      />
                    </mat-form-field>
                    <b style="font-size: 35px;">-</b>
                    <mat-form-field class="col-lg-2 ms-lg-5">
                        <mat-label>Número máximo</mat-label>
                        <input
                          matInput
                          placeholder="Introduzca número máximo de huéspedes"
                          formControlName="mHuespedes"
                        />
                      </mat-form-field>
                </form>
            </div>

            <div class="col-lg-12 mt-lg-5 instalaciones">
                <h3 class="d-inline-flex me-lg-4"><strong>Instalaciones</strong></h3>
                <a class="d-inline-flex editar-usuario"> <i class="bi bi-pencil-fill me-3"></i>Editar</a>
                <div class="col-lg-9">
                    @for (instalacion of instalaciones; track instalacion.length) {
                        <div class="col-lg-5 d-inline-flex flex-column-2 mb-lg-3">
                            <mat-icon class="d-inline-flex justify-content-center me-lg-2 icon-pool">{{instalacion.icono}}</mat-icon>
                            <p class="d-inline-flex align-items-center">{{instalacion.nombre}}</p>
                        </div>   
                    }  
                </div>
            </div>

            <div class="col-lg-12 mt-lg-5 comodidades">
                <h3 class="d-inline-flex me-lg-4"><strong>Comodidades</strong></h3>
                <a class="d-inline-flex editar-usuario"> <i class="bi bi-pencil-fill me-3"></i>Editar</a>
                <div class="col-lg-9">
                    @for (instalacion of instalaciones; track instalacion.length) {
                        <div class="col-lg-5 d-inline-flex flex-column-2 mb-lg-3">
                            <mat-icon class="d-inline-flex justify-content-center me-lg-2 icon-pool">{{instalacion.icono}}</mat-icon>
                            <p class="d-inline-flex align-items-center">{{instalacion.nombre}}</p>
                        </div>   
                    }  
                </div>
            </div>

            <div class="col-lg-12 mt-lg-5 resenas-comentarios">
                <div class="col-lg-6 px-lg-5 pt-lg-4 pb-lg-2 valoraciones">
                    <img class="d-inline-flex paz1" src="../../../assets/paginaRegistro/paz1.png">
                    <h3 class="d-inline-flex"><strong>Recomendaciones</strong></h3>
                    <img class="d-inline-flex paz2" src="../../../assets/paginaRegistro/paz.png">
                    <div class="d-inline-flex ms-lg-5 contenedor-estrellas">
                        <strong>4,90</strong>
                        <div>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill estrella"></i>
                        </div>
                        
                    </div>

                    <div class="d-inline-flex contenedor ms-lg-5 contenedor-evaluaciones px-lg-4 pt-lg-3 pb-lg-2">
                        <strong>10</strong>
                        <a class="evaluaciones" href="#">evaluaciones</a>
                    </div>

                </div>
                <div class="col-lg-8 mt-lg-5">
                    @if (ver) {

                    }@else {
                        <div>
                            <img class="d-inline-flex perfil-usuario" src="../../../assets/paginaRegistro/perfil-de-usuario.jpg">
                            <div class="d-inline-flex contenedor-comentarios">
                                <p><strong>Nombre</strong></p>
                                <p class="">País</p>
                            </div>

                        </div>
                    }
                </div>
            </div>



        </div>
    </div>
</div>



