<div class="background-container">
    <div class="container d-flex justify-content-center align-items-center">
      <div class="row d-flex m-auto justify-content-center align-items-center convertir-gestor-container">
        <div class="d-none d-md-flex col-md-6 imagen-convertir-gestor justify-content-center align-items-center flex-column">
          <h1>¿Listo para empezar tu aventura?</h1>
          <img src="../../../assets/paginaRegistro/logoAplicacion.jpg" class="logo">
        </div>
        <div class="col-12 col-md-6 formulario-convertir-gestor">
            <i class="bi bi-arrow-left d-flex justify-content-end mt-4 me-2"></i>
            <h2 class="ms-4 mt-5 titulo-convertir-gestor mb-5">Quiéres gestionar los alquileres de tus casas desde portal del viajero?</h2>

            <ul>
                <li>Se te permitirá tener anuncios de tus alojamientos subidos a nuestra página web.</li>
                
                <li>Los clientes que procedan a llevar a cabo un alquiler en una de tus viviendas podrán 
                    dejar una reseña. ¡Así la gente verá lo maravillosa que es tu casa!
                </li>

                <li>Podrás especificar que comodidades e instalaciones posee tu casa.</li>

                <li>¡Verás un incremento en la cantidad de personas que solicitan llevar a cabo un alquiler de tus viviendas!</li>
            </ul>
      
            <div class="col-12 d-flex justify-content-center align-items-center mt-5 mb-5">
              <button class=" boton-personalizado-a" (click)="convertirEnGestor()">¡Si quiero!</button>
            </div>
        </div>
      </div>
    </div>
  </div>

