<div class="background-container">
    <div class="container col-lg-12">
      <div class="row col-lg-8 d-flex m-auto convertir-gestor-container">
        <div class="col-lg-6 imagen-convertir-gestor">
          <div class="col-lg-9">
            <h1 class="col-lg-10 titulo-imagen">
              <strong>¿Listo para empezar tu aventura?</strong>
            </h1>
            <p><img src="../../../assets/paginaRegistro/logoAplicacion.jpg"></p>
          </div>
        </div>
        <div class="col-lg-6 formulario-convertir-gestor">
            <i class="bi bi-arrow-left d-flex justify-content-end mt-4 me-lg-2"></i>
            <h1 class="col-lg-10 mt-lg-2 titulo-convertir-gestor"><strong>¿Quiéres gestionar los alquileres de tus casas desde 
                portal del viajero?</strong></h1>

            <ul>
                <li>Se te permitirá tener anuncios de tus alojamientos subidos a nuestra página web.</li>
                
                <li>Los clientes que procedan a llevar a cabo un alquiler en una de tus viviendas podrán 
                    dejar una reseña. ¡Así la gente verá lo maravillosa que es tu casa!
                </li>

                <li>Podrás especificar que comodidades e instalaciones posee tu casa.</li>

                <li>¡Verás un incremento en la cantidad de personas que solicitan llevar a cabo un alquiler de tus viviendas!</li>

            </ul>
      
  
            <button class="col-lg-9 boton-convertir-gestor">¡Si quiero!</button>
        </div>
      </div>
    </div>
  </div>

