h1{
    font-size: 2.8em;
    font-weight: bold;
    line-height: 1em;
}

h2{
    font-size: 2.3em;
    line-height: 1.2em;
    letter-spacing: 0.02em;
}

li{
    color: rgb(162, 162, 162); 
    margin-left: 2%;
    margin-bottom: 5%;
}

.background-container{
    width: 100%;
    min-height: 100vh;
    background-image: url(../../../assets/paginaRegistro/imagenRegistro.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.convertir-gestor-container{
    max-height: 680px;
    height: 95vh;
    border-radius: 8px;
    box-shadow: inset;
}

.imagen-convertir-gestor{
    background-image: url(../../../assets/paginaRegistro/imagenRegistro.jpg);
    background-size: cover;
    text-align: center;
    color: white;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    height: 100%;
}

.formulario-convertir-gestor{
    background-color: white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.bi-arrow-left{
    font-size: 30px;
}

i:hover{
    cursor: pointer;
}