<router-outlet />
<!--<app-pagina-registro></app-pagina-registro>-->
<!--<app-inicio-sesion></app-inicio-sesion>-->
<!--<app-convertir-gestor></app-convertir-gestor>-->
<!--<app-ver-perfil></app-ver-perfil>-->
<!-- <app-editar-perfil></app-editar-perfil> -->
<!--<app-buscar-comodidad></app-buscar-comodidad>-->
<!--<app-modificar-comodidad></app-modificar-comodidad>-->
<!--<app-anadir-comodidad></app-anadir-comodidad>-->
<!--<app-casas-alquiler></app-casas-alquiler>-->
<!--<app-casas-disponibles></app-casas-disponibles>-->
<!--<app-ver-reservas></app-ver-reservas>-->
<!--<app-buscar-usuarios></app-buscar-usuarios>-->
<!--<app-detalles-casa-rural-gestor-administrador></app-detalles-casa-rural-gestor-administrador>-->
<!--<app-detalles-casa-rural-cliente></app-detalles-casa-rural-cliente>-->
<app-menu></app-menu>
