<div class="container contenedor-principal">
    <div class="row m-auto">
        <div class="col-12 titulo pt-3">
            <h1 class="fw-bold">Casas Rurales de {{ usuario }}</h1>
        </div>

        @for (casaRural of casasRurales; track casasRurales.length) {
        <div class="card px-0 m-auto mt-4">
            <img class="ms-0 me-0 imagen-casa" src="../../../assets/paginaRegistro/imagenCasaRural.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h3 class="card-title"><strong>{{ casaRural.titulo }}</strong></h3>
                <div class="localizacion">
                    <i class="bi bi-geo-alt-fill d-inline-block me-1"></i>
                    <h5 class="d-inline-block"> {{ casaRural.localizacion }} </h5>
                </div>
                <div class="precio-noche">
                    <p class="d-inline-block me-5 mt-3"><strong>Precio/noche</strong></p>
                    <p class="d-inline-block ms-5"><strong>{{casaRural.precio}}€</strong></p>
                </div>

                <p class="mt-4 card-text">{{ casaRural.detalles }}</p>
                <div class="row">
                    <button class="col-8 ms-2 mt-2 boton-personalizado-a">DETALLES</button>
                </div>

            </div>
        </div>
        }


    </div>
</div>