<div class="container contenedor-principal">
  <div class="row d-inline-block pt-3">
    <div class="col-12 titulo">
      <h1 class="fw-bold">Buscador de Usuarios</h1>
    </div>

    <form [formGroup]="usuarios" class="row mt-4">
      <mat-form-field class="col-sm-5 col-lg-2 me-2">
        <mat-label>Nombre de usuario</mat-label>
        <input matInput placeholder="Introduzca nombre de usuario" formControlName="nombre" />
      </mat-form-field>

      <mat-form-field class="col-sm-5 col-lg-2 me-2">
        <mat-label>Número de teléfono</mat-label>
        <input matInput placeholder="Introduzca número de teléfono" formControlName="telefono" />
      </mat-form-field>

      <mat-form-field class="col-sm-5 col-lg-2 me-2">
        <mat-label>Correo electrónico</mat-label>
        <input matInput placeholder="Introduzca correo electrónico" formControlName="correoElectronico" />
      </mat-form-field>

      <mat-form-field class="col-10 col-sm-5 col-lg-2 me-2">
        <mat-label>DNI</mat-label>
        <input matInput placeholder="Introduzca DNI" formControlName="dni" />
      </mat-form-field>
      <i class="bi bi-search ms-md-2 mt-3 col-1"></i>
    </form>

    <div class="row mt-2">
      @for (usu of numeroUsuario; track usu.length) {
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 d-inline-block lista-usuarios">
        <img class="d-inline-block me-2 imagen-usuario" src="../../../assets/paginaRegistro/perfil-de-usuario.jpg">
        <div class="d-inline-block">
          <h2 class="d-inline-block"> <strong>{{usu.usuario}}</strong></h2>
        </div>

      </div>
      }
    </div>
  </div>
</div>